extends layout

block content 
    div
        header.app-header.navbar
            a.navbar-brand(href="/", style="padding-top: 10px;") 
                |   Smart Security System
            ul.nav.navbar-nav.d-md-down-none(style="margin-left: 55px;")
                li.nav-item
                    a.nav-link.navbar-toggler.sidebar-toggler(href='#') ☰
            ul.nav.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                        span #{userName}
                    div.dropdown-menu.dropdown-menu-right
                        div.dropdown-header.text-center
                            strong Account
                        a.dropdown-item(href='/user-details')
                            i.fa.fa-user
                            |  User Info
                        a.dropdown-item(href='/logout')
                            i.fa.fa-lock
                            |  Logout
    div.app-body
        div.sidebar
            nav.sidebar-nav
                ul.nav
                    li.nav-item
                        a.nav-link(href='/')
                            i.icon-speedometer
                            |   Home
                    li.nav-item
                        a.nav-link(href='/recordings')
                            i.icon-speedometer
                            |   Recordings
        main.main
            div.container-fluid
                block primary