extends dashboard-layout

block primary
  style. 
    video {
      min-height:400px;
      margin: 10px;
    }
    button{
      margin: 10px;
    }
  div#video-section   
    section.experiment
      div#inputs
        label.px-2 
          strong Please choose a room id: 
        input#broadcast-id(type='text', placeholder='broadcast-id', value='room-xyz')
        
        button#open-or-join.btn-info Open or join room
      div#broadcast-viewers-counter
      div
        video#video-preview(controls='', loop='')
        
    button#btn-start-recording Start Recording
    button#btn-stop-recording Stop Recording 
block append scripts
  script(src="/js/broadcast.js")  