extends layout

block content
  div#video-section  
    section.experiment
      input#broadcast-id(type='text', placeholder='broadcast-id', value='room-xyz', style='display:none;')

      div#broadcast-viewers-counter
      div
        video#video-preview(controls='', loop='', style="visibility:hidden;")
      div.margin-10
        | Recording state: 
        strong#recording-state Pending   
      div
        button#btn-start-recording.margin-10 Start Recording
        button#btn-stop-recording.margin-10 Stop Recording 
      div  
        button#contect-security-btn.margin-10.btn.btn-danger.btn-lg(type='button') Contact Security
    
    div#canvas
    div#movement
    
block append scripts
  script.
    MotionDetector = {};

  script(src="/js/motionDetector/WebCamCapture.js")
  script(src="/js/motionDetector/ImageCompare.js")
  script(src="/js/motionDetector/Core.js")
  script(src="/js/rtc/broadcast.js")