doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')
    
    //- script(src="https://cdn.auth0.com/js/lock/10.16/lock.min.js")
    //- // auth0.js
    //- script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/core-ui.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    
    script(src="/js/jquery.min.js")
    
    script(src="/js/rtc/RTCMultiConnection.js")
    script(src="/js/rtc/socket.io.js")
    script(src="/js/rtc/RecordRTC.min.js")
  
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
    block content
    block scripts
      script(src="/js/script.js")
      //script(src="/js/ui/bootstrap.min.js")
      script(src="/js/ui/core-ui.js")