extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

    form.form-signin(method='POST', action='/login')

      h2.form-signin-heading.text-center Sign in
      .form-group
        label.sr-only(for='username') Username
        input.form-control(type='text', id='username', placeholder='Username', name='username', required='', autofocus='')
      .form-group
        label.sr-only(for='password') Password
        input.form-control(type='password', id='password', placeholder='Password', name='password', required='')
      if(message)
        .alert.alert-danger(role='alert')
          span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
          span.sr-only Error:
          =message
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

    //- h1 Login Page
    //- p.lead Say something worthwhile here.
    //- br
    //- form(role='form', action="/login",method="post", style='max-width: 300px;')
    //-   .form-group
    //-       input.form-control(type='text', name="email", placeholder='Enter E')
    //-   .form-group
    //-     input.form-control(type='password', name="password", placeholder='Password')
    //-   .form-group
    //-   if(message)
    //-     .alert.alert-danger(role='alert')
    //-       span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
    //-       span.sr-only Error:
    //-       =message
    //-   button.btn.btn-primary(type='submit') Submit  