extends dashboard-layout

block primary
    style. 
        video {
            min-height:400px;
            margin: 10px;
        }
    h2 Recording #{recordingName}
        
    video#video-recording(controls, src=url)