extends dashboard-layout

block primary
  style. 
    
  div#default-section
    h3 
      | Hello #{user.displayName}! 
    //- div.centered-content
    //-   button#presenter-btn.btn.btn-primary Presenter
    //- div.centered-content
    //-   button#viewer-btn.btn.btn-primary  Viewer

  div#video-section   
    section.experiment
      div#inputs
        label.px-2 
          strong Please choose a room id: 
        input#broadcast-id(type='text', placeholder='broadcast-id', value='room-xyz')
        
        button#open-or-join.btn-info Open or join room

        button#btn-stop-recording Play last recording
      div#broadcast-viewers-counter
      div
        video#video-preview(controls='', loop='')
      
    //- hr
    //- button#btn-start-recording Start Recording
    
    //- hr
    //- div#media-element(style='float:left;')
    //- div(style='float:left; margin-left: 10%;')
    //-   iframe#frame(src='', frameborder='0', height='450', width='500')

  
 
