.centered-content {
    float: left;
    margin: 25px;
}

.img-avatar {
    border-radius: 50em;
    height: 35px;
    margin: 0 10px;
}

#broadcast-id {
    margin-right: 20px;
}

#inputs {
    margin: 20px;
}

.experiment {
    margin-top: 40px;
}

#video-preview {
    min-height: 400px;
    margin: 10px;
}

.margin-10 {
    margin: 10px;
}

#canvas {
    position: absolute;
    opacity: 1;
    top: 200;
    left: 238;
    width: 640px;
    height: 480px;
    display: none
}

#movement {
    position: absolute;
    top: 200;
    left: 238;
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.3);
    display: none;
}

.alert {
    display: none;
}